# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/


# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/


# =========================
# Testing
# =========================

.pytest_cache/
.coverage
htmlcov/


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# macOS
.DS_Store


# =========================
# Environment / Secrets
# =========================

.env
*.env


# =========================
# Python tools
# =========================

.mypy_cache/
.ruff_cache/


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary files
# =========================

*.tmp
*.temp